In [55]:
import pandas as pd

In [39]:
df = pd.read_excel(r"C:\Users\Tsega\ICO_db.xlsx")
df

,Project,Category,Description,Start_date,End_date,Raised_usd,Ticker,Platform,ICO_price,Fundraise_goal,Total_token,Sold_%,Token_Role
0,Manta Network Crowdloan,DeFi,Manta Network is the plug-and-play privacy-pre...,2022-11-04,2023-03-01,6600000,MANTA,Polkadot,NaN,NaN,1.000000e+09,15.6,Utility
1,HALO,Blockchain Service,HALO cooperates with the Decemberentralized 3D...,2023-03-02,2023-03-03,18023679,HALO,Binance Chain,0.020,50000.0,5.000000e+08,NaN,Utility
2,Mizar,Platform,Mizar is a next-gen trading platform where tra...,2023-03-06,2023-03-08,3400000,MZR,Binance Chain,0.002,200000.0,1.000000e+10,NaN,Utility
3,G4AL,Platform,The G4AL Platform is the easiest and fastest a...,2023-03-09,2023-03-11,1600000,GGT,Ethereum,0.004,500000.0,1.000000e+10,16.3,Utility
4,SHELTERZ,Blockchain Service,SHELTERZ is an accommodation booking service w...,2023-02-18,2023-03-05,3590000,TERZ,Binance Chain,0.017,510000.0,1.000000e+09,18.0,Utility
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1344,DoraFactory,Blockchain Service,Dora Factory describes itself as an â€œopen-so...,2021-03-21,2021-03-22,180000,DORA,Ethereum,8.000,100000.0,NaN,NaN,Utility
1345,Taraxa,Platform,Taraxa is a public ledger platform purpose-bui...,2021-03-20,2021-03-20,3300000,TARA,Ethereum,0.012,3000000.0,1.000000e+10,3.8,Utility
1346,Stater,Platform,Stater is an open-source peer-to-peer lending ...,2021-03-16,2021-03-20,500000,STR,Ethereum,0.060,500000.0,1.000000e+08,20.0,Utility
1347,HAPI,DeFi,HAPI is a set of cross-chain sMarcht contracts...,2021-03-08,2021-03-10,2930000,HAPI,Ethereum,10.000,NaN,1.000000e+06,46.0,Utility
1348,EOS,Blockchain Service,The Most Powerful Infrastructure for Decembere...,2017-06-25,2017-06-25,4197956135,EOS,Ethereum,NaN,NaN,1.000000e+09,90.0,Utility

In [40]:
# Create a date dimension table
Date = df[['Start_date', 'End_date']].drop_duplicates().reset_index(drop=True)
Date['Start_day'] = Date['Start_date'].dt.day
Date['Start_month'] = Date['Start_date'].dt.month
Date['Start_year'] = Date['Start_date'].dt.year
Date['Start_weekday'] = Date['Start_date'].dt.weekday

Date['End_day'] = Date['End_date'].dt.day
Date['End_month'] = Date['End_date'].dt.month
Date['End_year'] = Date['End_date'].dt.year
Date['End_weekday'] = Date['End_date'].dt.weekday

# Assign the dateID with the index number and add "DA" prefix
Date['DateID'] = 'DA' + Date.index.astype(str)

# Rearrange the table
Date = Date[['DateID', 'Start_date', 'Start_year', 'Start_month', 'Start_weekday', 'Start_day', 'End_date', 'End_year', 'End_month', 'End_weekday', 'End_day']]
Date

,DateID,Start_date,Start_year,Start_month,Start_weekday,Start_day,End_date,End_year,End_month,End_weekday,End_day
0,DA0,2022-11-04,2022,11,4,4,2023-03-01,2023,3,2,1
1,DA1,2023-03-02,2023,3,3,2,2023-03-03,2023,3,4,3
2,DA2,2023-03-06,2023,3,0,6,2023-03-08,2023,3,2,8
3,DA3,2023-03-09,2023,3,3,9,2023-03-11,2023,3,5,11
4,DA4,2023-02-18,2023,2,5,18,2023-03-05,2023,3,6,5
...,...,...,...,...,...,...,...,...,...,...,...
1216,DA1216,2021-03-21,2021,3,6,21,2021-03-22,2021,3,0,22
1217,DA1217,2021-03-20,2021,3,5,20,2021-03-20,2021,3,5,20
1218,DA1218,2021-03-16,2021,3,1,16,2021-03-20,2021,3,5,20
1219,DA1219,2021-03-08,2021,3,0,8,2021-03-10,2021,3,2,10
1220,DA1220,2017-06-25,2017,6,6,25,2017-06-25,2017,6,6,25

In [41]:
Date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1221 entries, 0 to 1220
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateID         1221 non-null   object
 1   Start_date     1221 non-null   datetime64[ns]
 2   Start_year     1221 non-null   int32
 3   Start_month    1221 non-null   int32
 4   Start_weekday  1221 non-null   int32
 5   Start_day      1221 non-null   int32
 6   End_date       1221 non-null   datetime64[ns]
 7   End_year       1221 non-null   int32
 8   End_month      1221 non-null   int32
 9   End_weekday    1221 non-null   int32
 10  End_day        1221 non-null   int32
dtypes: datetime64[ns](2), int32(8), object(1)
memory usage: 66.9+ KB

In [42]:
# Create a Project dimension table
Project = df[['Project', 'Description', 'Ticker']].drop_duplicates().reset_index(drop=True)

# Assign the PlatformID with the index number and add "PRO" prefix
Project['ProjectID'] = 'PRO' + Project.index.astype(str)

# Rearrange the table
Project = Project[['ProjectID', 'Project', 'Description', 'Ticker']]
Project

,ProjectID,Project,Description,Ticker
0,PRO0,Manta Network Crowdloan,Manta Network is the plug-and-play privacy-pre...,MANTA
1,PRO1,HALO,HALO cooperates with the Decemberentralized 3D...,HALO
2,PRO2,Mizar,Mizar is a next-gen trading platform where tra...,MZR
3,PRO3,G4AL,The G4AL Platform is the easiest and fastest a...,GGT
4,PRO4,SHELTERZ,SHELTERZ is an accommodation booking service w...,TERZ
...,...,...,...,...
1344,PRO1344,DoraFactory,Dora Factory describes itself as an â€œopen-so...,DORA
1345,PRO1345,Taraxa,Taraxa is a public ledger platform purpose-bui...,TARA
1346,PRO1346,Stater,Stater is an open-source peer-to-peer lending ...,STR
1347,PRO1347,HAPI,HAPI is a set of cross-chain sMarcht contracts...,HAPI
1348,PRO1348,EOS,The Most Powerful Infrastructure for Decembere...,EOS

In [43]:
Project.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProjectID    1349 non-null   object
 1   Project      1349 non-null   object
 2   Description  1349 non-null   object
 3   Ticker       1332 non-null   object
dtypes: object(4)
memory usage: 42.3+ KB

In [44]:
# Create a Category dimension table
Category = df[['Category']].drop_duplicates().reset_index(drop=True)

# Assign the CategoryID with the index number and add "CAT" prefix
Category['CategoryID'] = 'CAT' + Category.index.astype(str)

# Rearrange the table
Category = Category[['CategoryID', 'Category']]
Category

   CategoryID            Category
0        CAT0                DeFi
1        CAT1  Blockchain Service
2        CAT2            Platform
3        CAT3              Gaming
4        CAT4               AI/VR
5        CAT5            Exchange
6        CAT6         Marketplace
7        CAT7                Dapp
8        CAT8   Marketing Service
9        CAT9        Data Service
10      CAT10            Business
11      CAT11      Social Network
12      CAT12           Education
13      CAT13              Energy
14      CAT14          Healthcare
15      CAT15        KYC/Security
16      CAT16         Real Estate
17      CAT17               Cloud
18      CAT18                 IOT
19      CAT19              Travel

In [45]:
Category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CategoryID  20 non-null     object
 1   Category    20 non-null     object
dtypes: object(2)
memory usage: 448.0+ bytes

In [46]:
# Create a Platform dimension table
Platform = df[['Platform']].drop_duplicates().reset_index(drop=True)

# Assign the PlatformID with the index number and add "PLAT" prefix
Platform['PlatformID'] = 'PLAT' + Platform.index.astype(str)

# Rearrange the table
Platform = Platform[['PlatformID', 'Platform']]
Platform

   PlatformID            Platform
0       PLAT0            Polkadot
1       PLAT1       Binance Chain
2       PLAT2            Ethereum
3       PLAT3              Solana
4       PLAT4      Own blockchain
5       PLAT5     NEAR Blockchain
6       PLAT6               Tezos
7       PLAT7             Polygon
8       PLAT8              Kusama
9       PLAT9                Flow
10     PLAT10       IoTeX Network
11     PLAT11                HECO
12     PLAT12      Elrond Network
13     PLAT13            Algorand
14     PLAT14      Cosmos Network
15     PLAT15      NEO Blockchain
16     PLAT16                ICON
17     PLAT17      NEM Blockchain
18     PLAT18      Nostr Protocol
19     PLAT19          WaykiChain
20     PLAT20                 EOS
21     PLAT21                Tron
22     PLAT22            Ontology
23     PLAT23  Harmony Blockchain
24     PLAT24             Stellar
25     PLAT25     IOST Blockchain
26     PLAT26            WanChain
27     PLAT27        Fusion Chain
28     PLAT28            RioChain
29     PLAT29      RSK Blockchain

In [47]:
Platform.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PlatformID  30 non-null     object
 1   Platform    30 non-null     object
dtypes: object(2)
memory usage: 608.0+ bytes

In [48]:
# Create a token role dimension table
Token_role = df[['Token_Role']].drop_duplicates().reset_index(drop=True)

# Assign the Token_roleID with the index number and add "TR" prefix
Token_role['Token_roleID'] = 'TR' + Token_role.index.astype(str)

# Rearrange the table
Token_role = Token_role[['Token_roleID', 'Token_Role']]
Token_role

  Token_roleID  Token_Role
0          TR0     Utility
1          TR1  Governance
2          TR2    Security

In [49]:
Token_role.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Token_roleID  3 non-null      object
 1   Token_Role    3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

In [50]:
# Create the fact tabele
ICOs = df.merge(Project, on=['Project', 'Description', 'Ticker']) \
        .merge(Token_role, on='Token_Role') \
        .merge(Platform, on='Platform') \
        .merge(Category, on='Category') \
        .merge(Date, on=['Start_date', 'End_date'])

# Assign the PlatformID with the index number 
ICOs['ICO_ID'] = 'ICO' + ICOs.index.astype(str)

# Rearrange the fact table
ICOs = ICOs[['ICO_ID', 'DateID', 'ProjectID', 'PlatformID', 'CategoryID', 'Token_roleID', 'Raised_usd', 'ICO_price', 'Fundraise_goal', 'Total_token', 'Sold_%']]

In [51]:
# change raised usd to an int
ICOs['Raised_usd'] = ICOs['Raised_usd'].astype(int)

# change ico price to a float
ICOs['ICO_price'] = ICOs['ICO_price'].astype(float)

# change % sold to a float
ICOs['Sold_%'] = ICOs['Sold_%'].astype(float)

ICOs

,ICO_ID,DateID,ProjectID,PlatformID,CategoryID,Token_roleID,Raised_usd,ICO_price,Fundraise_goal,Total_token,Sold_%
0,ICO0,DA0,PRO0,PLAT0,CAT0,TR0,6600000,NaN,NaN,1.000000e+09,15.6
1,ICO1,DA39,PRO46,PLAT0,CAT0,TR0,240000,0.250,240000.0,NaN,NaN
2,ICO2,DA154,PRO191,PLAT0,CAT0,TR0,600000,10.600,NaN,8.000000e+07,NaN
3,ICO3,DA309,PRO367,PLAT0,CAT0,TR0,6600000,0.360,28800000.0,1.000000e+09,NaN
4,ICO4,DA309,PRO368,PLAT2,CAT2,TR0,5500000,0.010,200000.0,1.000000e+10,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1344,ICO1344,DA788,PRO887,PLAT15,CAT15,TR0,25000000,0.050,NaN,1.000000e+09,50.0
1345,ICO1345,DA1035,PRO1153,PLAT2,CAT10,TR0,13000000,0.020,1000000.0,2.000000e+09,35.0
1346,ICO1346,DA965,PRO1073,PLAT4,CAT18,TR0,15480000,0.005,1000000.0,NaN,20.0
1347,ICO1347,DA1052,PRO1171,PLAT25,CAT18,TR0,3710000,0.014,2000000.0,2.000000e+09,NaN
1348,ICO1348,DA1170,PRO1296,PLAT3,CAT19,TR0,300000,0.150,300000.0,1.000000e+10,5.0

In [52]:
ICOs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ICO_ID          1349 non-null   object
 1   DateID          1349 non-null   object
 2   ProjectID       1349 non-null   object
 3   PlatformID      1349 non-null   object
 4   CategoryID      1349 non-null   object
 5   Token_roleID    1349 non-null   object
 6   Raised_usd      1349 non-null   int32
 7   ICO_price       1090 non-null   float64
 8   Fundraise_goal  829 non-null    float64
 9   Total_token     1203 non-null   float64
 10  Sold_%          694 non-null    float64
dtypes: float64(4), int32(1), object(6)
memory usage: 110.8+ KB

In [53]:
#   Convert all tables to a csv files

Date.to_csv('Date.csv', index = False)
Project.to_csv('Project.csv', index = False)
Category.to_csv('Category.csv', index = False)
Platform.to_csv('Platform.csv', index = False)
Token_role.to_csv('Token_role.csv', index = False)
ICOs.to_csv('ICOs.csv', index = False)